{% set title = 'Short view' %}
{% extends '_layout.html' %}
{% block content %}
<form class="short-form">
    <input type="text"/>
    <input type="submit" />
</form>
<div class="err"></div>
<table class="links">
    <tr> 
        <td>Short Link</td>
        <td>Long Link</td>
        <td>Date</td>
    </tr>
    {% for link in links %}
        <tr> 
            <td>{{ link.short_url }}</td>
            <td>{{ link.long_url }}</td>
            <td>{{ link.created_at.toGMTString() }}</td>
            <td><button class="delete" data-url="{{ link.short_url }}">X</button></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}