.short-form {
  display: flex;
  flex-direction: column;
}
.short-form label {
  display: block;
}
.short-form .url-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.short-form .url-container input[type=submit] {
  margin: 0 10px;
}
.short-form .spinner {
  display: block;
  width: 20px;
  height: 20px;
  border: 4px solid rgb(184, 178, 178);
  border-top: 4px solid rgb(255, 123, 0);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  visibility: hidden;
}
.short-form .spinner.active {
  visibility: visible;
}
.params {
  border: 1px solid black;
}
.links .delete {
  border: 1px solid #eee;
  cursor: pointer;
}
.links .delete:hover {
  background-color: #eee;
}
.links .short-link {
  cursor: pointer;
  transition: 0.5s;
}
.links .long-link {
  cursor: default;
}
.highlited {
  color: yellow;
}
.links .date-created {
  cursor: default;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination .pagination-item {
  color:#000;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 5px;
  user-select: none;
}
.pagination .pagination-item.current {
  color:red;
  cursor: default;
}
.pagination .spread {
  display: flex;
  align-items: flex-end;
  cursor: default;
  user-select: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}